<hr />
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mb-3">
  <li [ngbNavItem]="1">
    <button class="button" ngbNavLink>Wish Me Here!</button>
    <ng-template ngbNavContent>
      <form [formGroup]="birthdayWishForm" class="mb-3">
        <div class="mb-3">
          <label for="name" class="form-label">Name (Optional)</label>
          <input
            type="email"
            class="form-control"
            id=""
            formControlName="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Birthday Message</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            placeholder="Enter your birthday wish"
            formControlName="message"
            rows="3"
          ></textarea>
        </div>
        <div class="text-end">
          <button
            type="button"
            class="btn btn-secondary"
            [disabled]="birthdayWishForm.invalid"
          >
            Send
          </button>
        </div>
      </form>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Wishes</button>
    <ng-template ngbNavContent>
      <p>
        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
        anderson artisan four loko farm-to-table craft beer twee. Qui photo
        booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
        magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
        anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
        sint qui sapiente accusamus tattooed echo park.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
