.nav-tabs {
  background-color: none;
  border-bottom: 1px solid #b3b1b1;
  color: grey !important;
}
button {
  background: none !important;
  color: black;
}

// button:focus {
//   background: #b3b0b0 !important;
//   color: white !important;
// }
.nav-link.active {
  color: white !important;
  background: #b3b0b0 !important;
}
