<hr />
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mb-3">
  <li [ngbNavItem]="1">
    <button class="button" ngbNavLink>Wish Me Here!</button>
    <ng-template ngbNavContent>
      <form [formGroup]="birthdayWishForm" class="mb-3 form">

        <label for="name">
          <input type="email" class="input" id="" formControlName="name" placeholder="" required />
          <span>Name (Optional)</span>
        </label>


        <label for="message">
          <textarea class="input" id="exampleFormControlTextarea1" placeholder="" formControlName="message" rows="3"
            required></textarea>
          <span>Birthday Message</span>
        </label>


        <button class="submit">
          Send
        </button>

      </form>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink class="button">Wishes</button>
    <ng-template ngbNavContent>
      <p>
        Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
        anderson artisan four loko farm-to-table craft beer twee. Qui photo
        booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore
        aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
        magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
        anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
        sint qui sapiente accusamus tattooed echo park.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>